.box {
	margin-top: 3em;
	margin-bottom: 2em;
	padding-top: 1em;
    border-radius: 2px;
    background-color: #acc4e0;
	display: flex;
}

ref {
  font-size: smaller;
}

/* = = = = = = = = = = = = = = */
.cv h1{
    font-size: large;
}
.cv td{
    padding: 0.5em 3em 0em 1em;
    min-width: 10em;
}
.cv strong{
}
.cv .smallcaps{
    font-size: larger;
    font-variant-caps: small-caps;
}
.cv p{
    font-size: small;
}
.even{
    background: lightgrey;
}}
/* = = = = = = = = = = = = = = */